
<div *ngIf="resource">
    <h2><span jhiTranslate="armoryApp.resource.detail.title">Resource</span> {{resource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="armoryApp.resource.resourceName">Resource Name</span></dt>
        <dd>
            <span>{{resource.resourceName}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.resourceDescription">Resource Description</span></dt>
        <dd>
            <span>{{resource.resourceDescription}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.resourceURL">Resource URL</span></dt>
        <dd>
            <span>{{resource.resourceURL}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.resourcePreviewImage">Resource Preview Image</span></dt>
        <dd>
            <span>{{resource.resourcePreviewImage}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.resourceType">Resource Type</span></dt>
        <dd>
            <span jhiTranslate="{{'armoryApp.ResourceType.' + resource.resourceType}}">{{resource.resourceType}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.weight">Weight</span></dt>
        <dd>
            <span>{{resource.weight}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.discipline">Discipline</span></dt>
        <dd>
            <div *ngIf="resource.disciplineId">
                <a [routerLink]="['discipline', resource.disciplineId]">{{resource.disciplineId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.program">Program</span></dt>
        <dd>
            <div *ngIf="resource.programId">
                <a [routerLink]="['program', resource.programId]">{{resource.programId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.course">Course</span></dt>
        <dd>
            <div *ngIf="resource.courseId">
                <a [routerLink]="['course', resource.courseId]">{{resource.courseId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="armoryApp.resource.lesson">Lesson</span></dt>
        <dd>
            <div *ngIf="resource.lessonId">
                <a [routerLink]="['lesson', resource.lessonId]">{{resource.lessonId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resource/'+ resource.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
