<div class="row">

    <div class="col-md-12"><span class="center-block electronic-armory-logo"></span></div>

</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Become the ultimate you</h1>
        <p class="lead">
            From hardware to software. Apps to games. Mobile to 3D. We cover all these technologies in a comprehensive way and how they all connect to each other.
            Developing a mobile game that needs a website with backend capabilities, push notifications? We got you covered. All for free.<br />
            Taught by a professional in the industry, who also teaches for fun, we're successful enough to not need to nickel and dime you.
        </p>
        <div>
            <a href="#/register" class="btn btn-primary">Free to Register</a>
            <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                <i class="fa fa-fw fa-registered" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.account.register">Register</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->            <div class="card-block">
            <h4 class="card-title">Mobile Development</h4>
            <p class="card-text">Become a native mobile developer in either Android or iOS.</p>
            <a href="#" class="btn btn-primary">Become a Mobile Developer</a>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->            <div class="card-block">
            <h4 class="card-title">Full Stack</h4>
            <p class="card-text">Learn the backend and front end to create rich scalable websites.</p>
            <a href="#" class="btn btn-primary">Become Full Stack</a>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->            <div class="card-block">
            <h4 class="card-title">3D Modeling</h4>
            <p class="card-text">Create anything you can imagine for a game, the web, VR, or 3D print your ideas.</p>
            <a href="#" class="btn btn-primary">Become a 3D artist</a>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->            <div class="card-block">
            <h4 class="card-title">Game Developer</h4>
            <p class="card-text">Learn the entire pipeline for creating the game of your dreams.</p>
            <a href="#" class="btn btn-primary">Become a Game Developer</a>
        </div>
        </div>
    </div>
</div>
